[user]
	name = Azmain Adel
	email = azmainadel47@gmail.cpom
[core]
	editor = nano
	pager = less -FRX
[init]
	defaultBranch = main
[alias]
	st = status -sb
	co = switch
	sw = switch -c
	ro = restore
	br = branch
	lg = log --oneline --graph --decorate --all
	unstage = reset HEAD --
	last = log -1 HEAD --stat
	sync = !git fetch --prune origin && git reset --hard origin/$(git branch --show-current)

[pull]
	rebase = true
	autoStash = true

[fetch]
	prune = true

[push]
	autoSetupRemote = true
